
.collectioncard{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.collectionbtn{
    margin-left: 70px;
    display: block;
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: 500;
    border-color: black;

}

.collectionbtn:hover{
    background-color: black;
    color: white;

}

.card{
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


