*{
  overflow: hidden;
}



.Carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;        
  height: 500px;      
  margin: 0 auto;     
  overflow: hidden;   
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  top: 25px;
}

.Carousel img {
  width: 100%;
  height: 500px;
  object-fit: cover;  /* crop image to fit container */
}

.Caption{
  bottom: 100px;
  position: relative;
}

.Caption button {

  width: 150px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: 500;
  font-size: larger;
  margin-top: 35px;
  
}

.Caption button:hover{
  background-color: black;
  color: white;
}


