*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
}


.bodytertiary{
    background-color: white;
    color: black;
    font-weight: 600;
    justify-content: space-evenly;
}

.navmain{
    margin-left: 200px;
    color: black;
    gap: 20px;
}

.logo{
    width: 150px;
    height: 150px;
}